@import url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliario.css');

body {
    background-image: url('https://imperioinmobiliario.com.ar/pixlr-image-generator-e65dd46f-7f62-47ba-b30f-a9e5d01d8238.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out; /* Transición suave */
    font-family: 'Imperio Inmobiliario';
    color: #000;
    object-fit: fill;
    height: 69vh;
}

.error-container {
    text-align: center;
    color: #000;
    font-weight: 700;
    background-color: #ff0;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
    margin: 100px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.error-container h1 {
    font-size: 50px;
    color: #000;
}

.error-container p {
    font-size: 20px;
}

.error-image {
    width: 50px;
    margin: -19px 0;
}

.home-button {
    display: inline-block;
    background-color: #ff0;
    color: #000;
    padding: 10px;
    border: 2px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Imperio Inmobiliario';
    border-radius: 5px;
}

.home-button:hover {
    color: #ff0;
    background: #000;
}