@import url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliario.css');

body {
    background-image: url("https://imperioinmobiliario.com.ar/pixlr-image-generator-7b50e3dc-61f8-43ad-b4f6-517b6044d4f8.png"); /* Rojo clásico de Monopoly */
    font-family: 'Imperio Inmobiliario';
    text-align: center;
    color: #000;
    background-size: cover;
}

.form-container {
    background-color: #ffd700; /* Amarillo tipo tarjeta de propiedad */
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #000;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-family: 'Imperio Inmobiliario';
    color: #000;!i;!;
}

button {
    background-color: #ff0;
    color: #000;
    padding: 10px;
    border: 2px solid #000;
    width: 96%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Imperio Inmobiliario';
    border-radius: 5px;
}

button:hover {
    color: #ff0;
    background: #000;
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #000;
    padding: 0em 0.3em 0em 0.3em;
    border-radius: 5px;
}

a:hover {
    background: #000;
    color: #ff0;
}