@font-face {
    font-family: 'Imperio Inmobiliario Light';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Imperio Inmobiliario Light Oblique';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioLightOblique.otf') format('opentype');
    font-weight: 300;
    font-style: oblique;
}

@font-face {
    font-family: 'Imperio Inmobiliario Regular';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Imperio Inmobiliario Regular Oblique';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioRegularOblique.otf') format('opentype');
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'Imperio Inmobiliario Medium';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Imperio Inmobiliario Medium Oblique';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioMediumOblique.otf') format('opentype');
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: 'Imperio Inmobiliario SemiBold';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioSemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Imperio Inmobiliario SemiBold Oblique';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioSemiBoldOblique.otf') format('opentype');
    font-weight: 600;
    font-style: oblique;
}

@font-face {
    font-family: 'Imperio Inmobiliario Bold';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Imperio Inmobiliario Bold Oblique';
    src: url('https://imperioinmobiliario.com.ar/fuentes/ImperioInmobiliarioBoldOblique.otf') format('opentype');
    font-weight: 700;
    font-style: oblique;
}